In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
df=sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [25]:
X=df.drop('sex',axis=1)
X

     total_bill   tip  smoker  day  time  size
0         16.99  1.01       0    2     0     2
1         10.34  1.66       0    2     0     3
2         21.01  3.50       0    2     0     3
3         23.68  3.31       0    2     0     2
4         24.59  3.61       0    2     0     4
..          ...   ...     ...  ...   ...   ...
239       29.03  5.92       0    1     0     3
240       27.18  2.00       1    1     0     2
241       22.67  2.00       1    1     0     2
242       17.82  1.75       0    1     0     2
243       18.78  3.00       0    3     0     2

[244 rows x 6 columns]

In [23]:
y=df['sex']

In [24]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df['smoker'])
df['smoker']=le.transform(df['smoker'])

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df['day'])
df['day']=le.transform(df['day'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df['smoker'])
df['smoker']=le.transform(df['smoker'])

In [20]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df['time'])
df['time']=le.transform(df['time'])

In [21]:
df.head()

   total_bill   tip     sex  smoker  day  time  size
0       16.99  1.01  Female       0    2     0     2
1       10.34  1.66    Male       0    2     0     3
2       21.01  3.50    Male       0    2     0     3
3       23.68  3.31    Male       0    2     0     2
4       24.59  3.61  Female       0    2     0     4

In [26]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [27]:
# save the model
import joblib
joblib.dump(model,'tips_model')

['tips_model']

In [28]:
# Load the model
model=joblib.load('tips_model')

In [29]:
# Save the model in pickle format
import pickle
pickle.dump(model,open('tips_model.pkl','wb'))

In [30]:
# Load the model
model=pickle.load(open('tips_model.pkl','rb'))